.dropdown-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-style{
    padding: 10px;
    background: #ddd;
    border-bottom: 1px solid grey;
}

.auto-complete{
    width: 98%;
    padding: 10px;
}
.auto-complete:focus{
   outline:none;
}
.active{
    background: rgba(107, 105, 105, 0.67);
}